.product {
    margin: auto;
  padding: auto;
  width: 900px;
  
}
.producto {
    position: relative;
    left: 270px;
    padding-bottom: 20px;
   
}
.finalizar {
  position: relative;
  left: 360px;

}
