.logo {
    height: 100px;
    width: 100px;
    padding-right: 20px;
}
.derecha {
    position: absolute;
    right: 70px;
}
.cart {
    position: absolute;
    right: -40px;
    font-size: 20px;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}