.contador{
    position: relative;
    left: 370px;
    display: inline-flex;
    max-height: 30px;
}
.agregar{
    position: relative;
    left: 360px;
  
}
.cantidad{
   padding-left: 30px;
   padding-right: 30px;
   max-height: 30px;
   font-size: 25px;
   position: relative;
   top: 1px;
}
